.mainContainer {
  width: 650px;
  height: 650px;

  .imgContainer {
    border-radius: 8px;
    background-color: #20272f;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    .img {
      width: 100%;
      background-repeat: no-repeat;
      border-radius: 8px;
      background-size: contain;
      background-position: center;
    }

    .paintData {
      border: solid rgba(255, 255, 255, 0.329) 1px;
      border-radius: 4px;
      margin: 1em;
      padding: 1em;

      p {
        color: white;
      }
    }
  }
}
