.mainContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;

  .img {
    width: 100%;
    height: 100%;
    background-image: url('../../pages/home_page/monet.jpg');
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  .paintData {
    p {
      color: white;
    }
  }
}
