@use '../../shared/utils'as *;

.mainContainer {
  width: 100%;
  position: absolute;
  top: 1500px;

  .itemList {
    @include setFont();

    width: 100%;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 10rem);
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 10em 0;
    row-gap: 5em;

    li:nth-child(odd) {
      background-color: var(--mainColor2);
    }

    li:nth-child(even) {
      background-color: var(--mainColor3);
    }
  }
}

@include desktopResolution() {
  .mainContainer {
    .itemList {
      @include setFont();

      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
      row-gap: 5em;

      li:nth-child(odd) {
        background-color: var(--mainColor2);
      }

      li:nth-child(even) {
        background-color: var(--mainColor3);
      }
    }
  }
}
