@use '../../shared/utils'as *;

.mainContainer {
  position: absolute;
  width: 100%;
  top: 1500px;

  .itemList {
    @include setFont();

    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 10em 0;
    row-gap: 5em;
  }
}

@include desktopResolution() {
  .mainContainer {
    .itemList {
      @include setFont();

      list-style: none;
      display: grid;
      grid-auto-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: dense;
      gap: 1em;
      row-gap: 5em;
    }
  }
}
